/* Add here all your CSS customizations */

/* LATEST RECIPES HOME PAGE */
.latest{
	padding-left: 15px;
	width: 195px;
	height: 250px;
}
.catalog-box{
	width: 260px;
	height: 440px;
}
.catalog-image{
	width: 258px;
	height: 343px;
}

.form-control {
	height: auto;
	padding: 12px 16px;
	font-size: 18px;
}

.my_recipes {
	width: 180px;
	height: 260px;
}

.my_recipes_image {
	width: 140px;
	height: 200px;
}

/* layout.css Style */
.upload-drop-zone {
  height: 100px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 100px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}