/* Add here all your CSS customizations */

/* LATEST RECIPES HOME PAGE */
.latest{
	padding-left: 15px;
	width: 195px;
	height: 250px;
}
.catalog-box{
	width: 260px;
	height: 440px;
}
.catalog-image{
	width: 258px;
	height: 343px;
}